version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
      args:
        HTTP_PROXY: ${HTTP_PROXY}
        HTTPS_PROXY: ${HTTPS_PROXY}
        PIP_INDEX_URL: ${PIP_INDEX_URL}
    container_name: churn_api
    ports:
      - "8000:8000"

  dashboard:
    build:
      context: .
      dockerfile: docker/Dockerfile.streamlit
      args:
        HTTP_PROXY: ${HTTP_PROXY}
        HTTPS_PROXY: ${HTTPS_PROXY}
        PIP_INDEX_URL: ${PIP_INDEX_URL}
    container_name: churn_dashboard
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000/predict
    depends_on:
      - api
